<div class="container">
    <mat-card class="card" appearance="outlined">
        <mat-card-header>
          <mat-card-title>school GerardoInstitute</mat-card-title>
        </mat-card-header>
        <mat-card-actions>
          <a mat-button [routerLink]="['/menu', 'GerardoInstitute']">Go</a>
        </mat-card-actions>
    </mat-card>
    <mat-card class="card" appearance="outlined">
        <mat-card-header>
          <mat-card-title>school ZetCollege</mat-card-title>
        </mat-card-header>
        <mat-card-actions>
          <a mat-button [routerLink]="['/menu', 'GerardoInstitute']">Go</a>
        </mat-card-actions>
    </mat-card>
</div>
