<head>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
</head>

<div class="container mx-auto p-4">
  <div class="max-w-md mx-auto bg-white rounded-lg shadow-md overflow-hidden md:max-w-lg">
    <div class="md:flex">
      <div class="w-full p-4">
        <div class="text-left mb-4">
          <h2 class="text-2xl font-bold">All Student Grades</h2>
        </div>

        <table class="table-auto bg-white shadow-md rounded-lg">
          <thead>
          <tr>
            <th class="px-4 py-2 text-gray-600">Course Id</th>
            <th class="px-4 py-2 text-gray-600">Score</th>
            <th class="px-4 py-2 text-gray-600">Student Id</th>
          </tr>
          </thead>
          <tbody>

          <tr *ngFor="let grade of grades(); let i = index">
            <td class="border px-4 py-2">{{ grade.courseId }}</td>
            <td class="border px-4 py-2">{{ grade.score }}</td>
            <td class="border px-4 py-2">{{ grade.studentId }}</td>
          </tr>
          </tbody>
        </table>

        <br>

          <div class="flex items-center justify-end space-x-4">
            <button
              (click)="close()"
              class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
              type="button">
              Close
            </button>
          </div>

      </div>
    </div>
  </div>
</div>




