<div class="container">
    <mat-card class="card" appearance="outlined">
        <mat-card-header>
          <mat-card-title>list Courses</mat-card-title>
        </mat-card-header>
        <mat-card-actions>
          <a mat-button [routerLink]="['/listCourses', school]">Go</a>
        </mat-card-actions>
    </mat-card>
    <mat-card class="card" appearance="outlined">
        <mat-card-header>
          <mat-card-title>create course</mat-card-title>
        </mat-card-header>
        <mat-card-actions>
          <a mat-button [routerLink]="['/addCourse', school]">Go</a>
        </mat-card-actions>
    </mat-card>
</div>