<div class="container mx-auto my-5 w-full">
  <h2 class="text-2xl font-bold mb-4">List of Students</h2>

  <button
    class="bg-blue-500 text-white px-3 py-1 rounded mb-4"
    (click)="addStudent()"
  >
    Add Student
  </button>

  @if (errorMessage) {
    <div class="text-red-500 mb-4">
      {{ errorMessage }}
    </div>
  }
  <table class="table-auto w-full border border-gray-300">
    <thead>
    <tr class="bg-gray-200">
      <th class="border px-4 py-2">ID</th>
      <th class="border px-4 py-2">First Name</th>
      <th class="border px-4 py-2">Last Name</th>
      <th class="border px-4 py-2">Age</th>
      <th class="border px-4 py-2">Actions</th>
    </tr>
    </thead>
    <tbody>
      @for (student of students; track student.id) {
        <tr>
          <td class="border px-4 py-2 text-center">{{ student.id }}</td>
          <td class="border px-4 py-2">{{ student.firstName }}</td>
          <td class="border px-4 py-2">{{ student.lastName }}</td>
          <td class="border px-4 py-2 text-center">{{ student.age }}</td>
          <td class="border px-4 py-2 text-center">
            <button
              class="bg-green-500 text-white px-3 py-1 rounded mr-2"
              (click)="viewStudent(student.id)"
            >
              View Grades
            </button>
            <button
              class="bg-blue-500 text-white px-3 py-1 rounded mr-2"
              (click)="editStudent(student.id)"
            >
              Edit
            </button>
            <button
              class="bg-red-500 text-white px-3 py-1 rounded"
              (click)="deleteGradeStudent(student.id)"
            >
              Delete grades
            </button>
          </td>
        </tr>
      }
    </tbody>
  </table>
</div>
