<div class="container mx-auto mt-5 p-4">
  <h2 class="text-2xl font-bold text-center mb-4">Grades for Student: {{ studentId }}.- {{ studentName }}</h2>

  @if (errorMessage) {
    <div class="text-red-500 text-center mb-4">
      {{ errorMessage }}
    </div>
  }

  @if (grades.length) {
    <table class="table-auto border-collapse border border-gray-200 w-full text-center">
      <thead>
      <tr class="bg-gray-100">
        <th class="border border-gray-300 px-4 py-2">Course</th>
        <th class="border border-gray-300 px-4 py-2">Score</th>
        <th class="border border-gray-300 px-4 py-2">Professor Name</th>
      </tr>
      </thead>
      <tbody>
        @for (grade of grades; track grade.id) {
          <tr>
            <td class="border border-gray-300 px-4 py-2">{{ grade.course.name }}</td>
            <td class="border border-gray-300 px-4 py-2">{{ grade.score }}</td>
            <td class="border border-gray-300 px-4 py-2">{{ grade.course.professorName }}</td>
          </tr>
        }
      </tbody>
    </table>
  }

  @if (!grades.length && !errorMessage) {
    <p class="text-gray-500 text-center">
      No grades available for this student.
    </p>
  }

  <div class="text-center mt-4">
    <button
      (click)="goBack()"
      class="bg-blue-500 hover:bg-blue-600 text-white px-4 py-2 rounded"
    >
      Go Back
    </button>
  </div>
</div>
