<div class="container mx-auto my-5 w-full">
  <h2 class="text-2xl font-bold mb-4">List of Courses</h2>

  <button
    class="bg-blue-500 text-white px-3 py-1 rounded mb-4"
    (click)="addCourse()"
  >
    Add Course
  </button>

  @if (errorMessage) {
    <div class="text-red-500 mb-4">
      {{ errorMessage }}
    </div>
  }
  <table class="table-auto w-full border border-gray-300">
    <thead>
    <tr class="bg-gray-200">
      <th class="border px-4 py-2">ID</th>
      <th class="border px-4 py-2">Course Name</th>
      <th class="border px-4 py-2">Professor Name</th>
      <th class="border px-4 py-2">Actions</th>
    </tr>
    </thead>
    <tbody>
      @for (course of courses; track course.id) {
        <tr>
          <td class="border px-4 py-2 text-center">{{ course.id }}</td>
          <td class="border px-4 py-2">{{ course.name }}</td>
          <td class="border px-4 py-2">{{ course.professorName }}</td>
          <td class="border px-4 py-2 text-center">
            <button
              class="bg-blue-500 text-white px-3 py-1 rounded mr-2"
              (click)="editCourse(course.id)"
            >
              Edit
            </button>
            <button
              class="bg-red-500 text-white px-3 py-1 rounded"
              (click)="deleteCourse(course.id)"
            >
              Delete
            </button>
          </td>
        </tr>
      }
    </tbody>
  </table>
</div>
