<div class="container">
    <mat-card class="card" appearance="outlined">
        <mat-card-header>
          <mat-card-title>Students</mat-card-title>
        </mat-card-header>
        <mat-card-actions>
          <a mat-button [routerLink]="['/students', school]">Go</a>
        </mat-card-actions>
    </mat-card>
    <mat-card class="card" appearance="outlined">
        <mat-card-header>
          <mat-card-title>Courses</mat-card-title>
        </mat-card-header>
        <mat-card-actions>
          <a mat-button [routerLink]="['/courses', school]">Go</a>
        </mat-card-actions>
    </mat-card>
    <mat-card class="card" appearance="outlined">
        <mat-card-header>
          <mat-card-title>Grades</mat-card-title>
        </mat-card-header>
        <mat-card-actions>
          <a mat-button [routerLink]="['/grades', school]">Go</a>
        </mat-card-actions>
    </mat-card>
</div>
