<body>
  <nav class="navbar">
     <ul>
        <li><a href="home.component.html">Home</a></li>
        <li><a href="../../Institute/pages/gerardoInstitute.component.html">Gerardo Institute</a></li>
        <li><a href="home.component.html">Zet College</a></li>
        <li><a href="home.component.html">About Me</a></li>
     </ul>
  </nav>

  <div class="container">

    <div class="split left">
      <div class="centered">
        <img src="../../../core/utils/gerardoInstitute.png" alt="Gerardo Institute">
        <h2>Gerardo Institute</h2>
      </div>
    </div>
    
    <div class="split right">
      <div class="centered">
        <img src="../../../core/utils/zetCollage.jpg" alt="Zet College">
        <h2>Zet College</h2>
      </div>
    </div>


  </div>

</body>