body {
  margin:0;
  padding:0;
}


/*NAVBAR*/
.navbar{
position: absolute;
top: 0%;
left: 0%;
right: 0%;
z-index: 2;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
  padding: 1%;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
 background-color: #111;
}

/*CONTAINER*/
.container{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: red;
}

.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 6%;
  overflow-x: hidden;
  padding-top: 20px;
}

/* Control the left side */
.left {
  left: 0;
  background-color: #111;
}

/* Control the right side */
.right {
  right: 0;
  background-color: red;
}


/* If you want the content centered horizontally and vertically */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* Style the image inside the centered container, if needed */
.centered img {
  width: 150px;
  border-radius: 50%;
}

h2, a{
  color: aliceblue;
  font-style: italic;
  text-decoration: none;
}

