<div class="container">
    <mat-card class="card" appearance="outlined">
        <mat-card-header>
          <mat-card-title>register grade</mat-card-title>
        </mat-card-header>
        <mat-card-actions>
          <a mat-button [routerLink]="['/addGrades', school]">Go</a>
        </mat-card-actions>
    </mat-card>
    <mat-card class="card" appearance="outlined">
        <mat-card-header>
          <mat-card-title>list grade student</mat-card-title>
        </mat-card-header>
        <mat-card-actions>
          <a mat-button [routerLink]="['/listStudentId', school]">Go</a>
        </mat-card-actions>
    </mat-card>
</div>
